*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	height: 100vh;
	background: linear-gradient(360deg, #6565e7, #7265e8, #7d66e8, #8866e9, #9266e9, #9c66e9, #a667e9, #af67e9);
}

.card {
	position: absolute;
	width: 55%;
	height: 55%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	background-color: white;
	z-index: 0;
	/* overflow: hidden;  */
}

.card-left-side {
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.woman {
    position: absolute;
    transform: translate(-18%, 18%);


}

.shadow {

	position: absolute;
	transform: translate(-63%, -33%);
	 z-index: -200;
}

.box-desktop {
	position: absolute;
	background-image: url(images/illustration-box-desktop.svg);
	width: 200px;
	height: 200px;
	background-size: cover;
	transform: translate(-46%, 89%);

}


.card-right-side {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
}