*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	height: 100vh;
	background: linear-gradient(360deg, #6565e7, #7265e8, #7d66e8, #8866e9, #9266e9, #9c66e9, #a667e9, #af67e9);
}

.card {
	position: absolute;
	width: 55%;
	height: 55%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	background-color: red;
	/* overflow: hidden; */
}

.card-left-side {
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;

	background-position: center;
	background-size: cover;
	z-index: 200;
}

.card-left-side img {
	display: block;
	height: 80%;
	left: 0;
}

.box-desktop {
	position: absolute;
	background-image: url(images/illustration-box-desktop.svg);
	width: 50%;
	height: 50%;
	background-position: center;
	background-size: cover;
	left: -20%;
	top: 44%;
}
